body {
   margin: 0px;
   padding: 5px;
   background-color: #d0d0d0;
}

#displayTable {
   font-family: sans-serif;
   width:100%;
   border-width:0px;
   border-radius: 10px;
   padding: 5px;
}

.blue-row {
   background-color: #007FFF;
   color: white;
}

.white-row {
   background-color: white;
   color: #007FFF;
}

.div-button {
	display:inline-block;
	background-color:#007FFF;
	padding:5px;
	width:48%;
	color: white;
	/* border-radius: 5px; */
}

#nextButton {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#lastButton {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}