body {
   margin: 0px;
   padding: 0px;
}

#displayTable {
   font-family: sans-serif;
   width:100%;
   border-width:0px;
}

.blue-row {
   background-color: #007FFF;
   color: white;
}

.white-row {
   background-color: white;
   color: #007FFF;
}
